* {
  margin: 0px;
  padding: 0px;
  color: black;
}

#projects {
  color: red;
}

center h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #233d63;
}

#hr4 {
  width: 130px;
  margin-top: -10px;
  margin-bottom: 25px;
}

.table {
  padding-left: 180px;
  padding-right: 180px;
  border-bottom: none;
}

th {
  text-align: left;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

tr:hover td,
tr:hover td p {
  color: blue;
}

td {
  border-bottom: 1px solid;
  border-bottom-color: rgb(199, 199, 199);
  font-family: 'Roboto', sans-serif;
  color: #3d3d3f;
  padding-left: 50px;
  cursor: pointer;
}

p {
  color: #3d3d3f;
  padding-left: 50px;
  padding-bottom: -5px;
}

td:active {
  color: blue;
}

.dataTables_filter input {
  margin-bottom: 5px;
  height: 25px;
}

.dataTables_filter,
.dataTables_length {
  height: 40px;
  width: 500px;
  margin-bottom: 10px;
  font-size: 20px;
}

.dataTables_length select {
  height: 25px;
  width: 40px;
}

#example_info,
#example_previous,
#example_next {
  font-size: 20px;
  color: black;
  margin-top: 10px;
}